/* Do everything in this file */
h2, h3{
    clear: both;
    border-bottom: 2px solid red;
}
footer{
    clear: both;
    position: static;
    top: 0%;
    right: 0%;
    z-index: 0;
}
figure{
    width: 40%;
    max-width: 650px;
    overflow: hidden;
    margin: 0 auto;
}
figure img{
    width: 100%;
}
div.tet{
    float: left;
    width: 25%;
    flex: 0 0 100px;
    border: 1px solid black;
    text-align: center;
}

div.tet img{
    width: 60%;
}

div.aliases{
    text-align: left;
    margin: 1em;
}

header, main, footer {
    width: 90vw;
    margin: 0 auto;
}

#tetlist{
    display: flex;
    flex-flow: row wrap;
}

span.name{
    display: block;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}