body {
    background-image: linear-gradient(180deg, hsl(278 40% 35%), hsl(278 57% 15%));
    color: hsl(0 0% 100%);

    font: 1em Bahnschrift, sans-serif;
}
h1#title{
    padding: 2rem;
    font-size: 3rem;
    margin: 0.5rem 0;
    text-shadow: 0 0.2rem hsl(278 57% 15%);
}
h2{
    font-size: 2rem;
    padding: 0;
    margin-bottom: 0.3rem;
}
h2#github{
    font-family: monospace;
    font-style: italic;
}
p{
    padding: 0;
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}
p.italic{
    font-style: italic;
}
.list{
    list-style-type: none;
    text-indent: 0;
    padding: 0;
    margin: 0;
    line-height: 2rem;
}
li{
    text-indent: 0;
    padding: 0;
    margin: 0;
}
a{
    font-size: 1.2rem;
}
a:link, a:visited, a:active{
    color: hsl(278 50% 80%)
}
a:focus, a:hover{
    color: hsl(278 50% 100%)
}